<html>
    <head>
        <title></title>

    </head>
    <body>
        <div id="container">
                <div id="moon">
                    <%= image_tag('moon.png') %>
                </div>
            <div id="header">SpaceTweets</div>

                <div id="tweetbox"></div>
        </div>
        <div id="buttonz">


             <input id="usernamebox" placeholder="enter a twitter username or hashtag" type="text"></input>
             <br>

            <div id="ajax">
               launch
            </div>
        </div>
<div id="footer">another <a href="http://twitter.com/mayeah">@mayeah</a> catastrophe</div>
<div id="picturebox"></div>


    </body>
</html>