<html>
    <head>
        <title></title>

    </head>
    <body>
        <div id="container">
            <div id="header"></div>
                <div id="moon">
                    <%= image_tag('moon.png') %>
                </div>
                <div id="tweetbox"></div>
        </div>
        <div id="buttonz">
            <div id="horse">
                horse
            </div>
            <div id="lilb">
                basedgod
            </div>
        </div>

<div id="footer">another <a href="http://twitter.com/mayeah">@mayeah</a> catastrophe</div>


    </body>
</html>