<html>
    <head>
        <title></title>
    </head>
    <body>
        <div id="container">
            <div id="moon">
                <%= image_tag('moon.png') %>
            </div>
            <div id="header">
                SpaceTweets
            </div>
            <div id="tweetbox"></div>
        </div>
        <div id="choices">
            <div id="username" class="option">
                @username
            </div>
            <div id="hashtag" class="option">
                #hashtag
            </div>
            <div id="search" class="option">
                search?
            </div>
        </div>
        <div id="buttonz">
            <span id="current-search">@</span><input id="searchbox" type="text"><br>
            <div id="ajax">
                punch it
            </div>
        </div>
        <div id="footer">
            another <a href="http://twitter.com/mayeah">@mayeah</a> catastrophe
        </div>
        <div id="picturebox"></div>
    </body>
</html>