body {
  font-family: Gill Sans;
  background-image:url('starfield.gif');
}

#container {
  width: 100%;
}

#scene {
  width: 50%;
  margin: 0 auto;
  height: 400px;
  padding: 10px;
}

#header {
  color:white;
  text-shadow: 2px 2px 1px black;
  font-family: 'Orbitron', sans-serif;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  font-size: 7em;
  text-align: center;
}

input {
  width: 60%;
  margin: 20px 0;
  padding: 10px 3px;
  line-height: 2em;
  font-size: 2em;
  text-align: left;
  border: 3px solid black;
}

.username-on-tweet {
/*  text-align: center;
  color: white;
  text-shadow: 2px 2px 0px black;
*/
}

#planets {
  display: none;
}

#moon {
  height: 300px;
  width: 300px;
  -webkit-animation: moon 18s ease-out infinite;
  margin-left: 100px;
}

.one-tweet{
  width: 450px;
  height: 450px;
  color: white;
  background-image: url('moon2.png');
  background-repeat: no-repeat;
  position: absolute;
  font-size: .7em;
  display: table;
}

.tweet-container {
  width: 50%;
  text-align: center;
  margin-left: 20%;
  padding-top: 20%;
}

.one-tweet a {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 0 black;
  text-decoration: none;
}

#moon img {
  opacity: 1;
  z-index: 100;
  position: relative;

  height: 150px;
  width: 150pxpx;

}

#footer {
  position: absolute;
  bottom: 20px;
  height: 1.3em;
  color: white;
  padding: 3px 10px;
  left: 100px;
  display:block;
  background-color: black;

}

#current-search{
  width: 20%;
  display: inline-block;
  font-size: 2em;
  text-align: right;
}

#picturebox {
  padding: 20px;
  display:inline;
  position: absolute;
  bottom: 30px;
  right: 100px;
  height: 1.3em;
  color: white;
  margin-bottom: 20px;
  padding: 3px 10px;
  color: white;
  background-color: black;
}

#picturebox a{
  color: white;
  background-color: black;
}

#footer a {
  color: white;
}

#footer a:hover{
  color: #a41e44;
  }

#choices {
  border: 0px solid black;
   width: 40%;
  background-color: white;
  margin-left: 30%;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px black;
}

#buttonz {
  width: 40%;
  background-color: white;
  margin-left: 30%;
}

.option {
  display: inline-block;
  height: 100px;
  width: 90%;
  font-size: 2.3em;
  background-color: pink;
  margin-top: 10px;
  vertical-align:middle;
  padding-top: 10px;
}

#username span {
  font-size: .7em;
}

.option:hover {

}

#username {
  background-color: #cb4949;
}



#hashtag {
  background-color: #3d5790 ;
}

#hashtag:hover {
  background-color: #6c9aff
}

#search {
  background-color:#d9ca28;
}

#search:hover {
  background-color:#ffed2f;
}

#buttonz div {
  height: 90px;
  width: 60%;
  margin: 10px 20%;
  display: inline-block;
  background-color: red;
  text-align: center;
  font-size: 2em;
  line-height: 90px;
  overflow:none;
  padding: 3px;
}

#ajax:hover {
  background-color: pink;
}

#ajax.disabled {
  background-color: pink;
}

#tweetbox {
  /*position: relative;*/
  color: white;
  font-size: 2em;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin-bottom: 20px;
}

@-webkit-keyframes moon {
    1% {
    }
    50%{
    -webkit-transform: translate(20px, 50px);
    }
   99% {
    }
   100% {
  }
}


